absl-py==0.15.0
altgraph==0.17.2
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==21.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
black==21.12b0
bleach==4.1.0
cachetools==5.0.0
CaptchaCracker==0.0.6
cffi==1.15.0
charset-normalizer==2.0.10
chromedriver-autoinstaller==0.4.0
click==7.1.2
colorama==0.4.4
configparser==5.2.0
coreapi==2.3.3
coreschema==0.0.4
crayons==0.4.0
cryptography==36.0.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
efficientnet==1.0.0
entrypoints==0.3
executing==0.8.2
fastapi==0.95.2
fonttools==4.29.1
future==0.18.2
gast==0.4.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.54.0
grpcio==1.34.1
h11==0.13.0
h5py==3.1.0
idna==3.3
image-classifiers==1.0.0
imageio==2.16.0
importlib-metadata==4.11.1
importlib-resources==5.4.0
inflection==0.5.1
install==1.3.5
ipykernel==6.7.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
iteration-utilities==0.11.0
itsdangerous==2.0.1
itypes==1.2.0
jedi==0.18.1
joblib==1.2.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.7.0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==16.0.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.8
numpy==1.21.0
oauthlib==3.2.0
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.64
opt-einsum==3.3.0
outcome==1.1.0
packaging==21.3
pandas==2.0.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pefile==2021.9.3
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.4.1
prometheus-client==0.13.1
promise==2.3
prompt-toolkit==3.0.24
protobuf==3.19.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
Pygments==2.11.2
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
PyMsgBox==1.0.9
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
PyRect==0.1.4
pyrsistent==0.18.1
PyScreeze==0.1.28
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==0.19.2
python-multipart==0.0.6
pytweening==1.0.4
pytz==2022.2.1
PyWavelets==1.2.0
pywin32==303
pywin32-ctypes==0.2.0
pywinpty==2.0.2
pyzmq==22.3.0
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-image==0.19.2
scikit-learn==1.2.2
scipy==1.8.0
segmentation-models==1.0.1
selenium==3.141.0
Send2Trash==1.8.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.2
stack-data==0.1.4
starlette==0.27.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-addons==0.11.2
tensorflow-datasets==4.5.2
tensorflow-estimator==2.7.0
tensorflow-examples===110c2fd12b5310afaa276fec72605849e27c068e-
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.6.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
tfds-nightly==4.5.2.dev202202150045
threadpoolctl==3.1.0
tifffile==2022.2.9
toml==0.10.2
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
trio==0.19.0
trio-websocket==0.9.2
typeguard==2.13.3
typing_extensions==4.5.0
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.8
uvicorn==0.22.0
wcwidth==0.2.5
webdriver-manager==3.5.2
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wincertstore==0.2
wrapt==1.12.1
wsproto==1.0.0
zipp==3.7.0
