fastapi==0.95.2
fonttools==4.29.1
imageio==2.16.0
jupyterlab-widgets==1.0.2
keras==2.7.0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
numpy==1.21.0
oauthlib==3.2.0
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.64
opt-einsum==3.3.0
outcome==1.1.0
packaging==21.3
pandas==2.0.1
pandocfilters==1.5.0
Pillow==9.0.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-multipart==0.0.6
pytweening==1.0.4
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
tensorflow==2.7.0
tensorflow-addons==0.11.2
tensorflow-datasets==4.5.2
tensorflow-estimator==2.7.0
tensorflow-examples===110c2fd12b5310afaa276fec72605849e27c068e-
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.6.0
urllib3==1.26.8
uvicorn==0.22.0
webdriver-manager==3.5.2
webencodings==0.5.1
Werkzeug==2.0.2
zipp==3.7.0
